{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:import/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "airbnb-typescript/base"
  ],
  "rules": {
    "no-console": 1
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
