@import 'styles/abstract';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  max-height: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #F5F5F5;
}

.page-cases {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  background-color: #8DBDBA;
  transition: background-color 1.3s;
}

.main-title {
  margin-top: 100px;
  margin-left: 100px;
  font-weight: 500;
  font-size: 64px;
  line-height: 60px;
  z-index: 3;
}

.laptop-container {
  box-sizing: border-box;
  position: absolute;
  top: 142px;
  right: 82px;
  padding-top: 14px;
  width: 1018px;
  height: 576px;
  background-image: url('./assets/img/laptop.png');
  background-repeat: no-repeat;
  z-index: 1;
}

.slider {
  margin: 0 auto;
  width: 742px;
  height: 497px;
  overflow: hidden;
}

.slides {
  display: flex;
  transition-property: transform;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
}

.cases {
  position: relative;
  margin-top: auto;
  margin-bottom: 100px;
  margin-left: 100px;
  width: 668px;
  min-height: 432px;
  background: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));
  border: 0.5px solid rgba(64, 89, 80, 0.5);
  box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
  backdrop-filter: blur(15px);
  z-index: 2;
}

.cases__wrapper {
  padding: 20px;
}

.cases__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  @extend %bgImg;
}

.cases__title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.cases__description {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.cases__btn-container {
  display: flex;
  column-gap: 16px;
}

.btn {
  width: 48px;
  height: 48px;
  border: 1px solid #F5F5F5;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--disabled {
    background-color: #c7c7c7;
    opacity: .3;
    cursor: default;
  }
}

.cases__btn-prev {
  background-image: url('./assets//img/icons/vector-left.svg');
}

.cases__btn-next {
  background-image: url('./assets/img/icons/vector-right.svg');
}

.features {
  width: 589px;
  margin-top: 20px;
  min-height: 94px;
  background: rgba(0, 37, 23, 0.2);
  border: 1px solid rgba(226, 226, 226, 0.5);
  border-collapse: collapse;
}

.feature__row {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.feature__column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  row-gap: 8px;
  border-right: 1px solid rgba(226, 226, 226, 0.5);

  &:last-child {
    border-right: none;
  }
}

.feature__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.feature__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bubble-1 {
  position: absolute;
  left: 272.25px;
  top: -2.75px;
  width: 282px;
  height: 282px;
  border-radius: 100%;
  background-image: linear-gradient(131.29deg, rgba(225, 255, 244, 0.3) 1.1%, rgba(20, 54, 41, 0) 108.32%),
    radial-gradient(32.42% 32.42% at 46.83% 18.92%, rgba(255, 255, 255, 0.147) 0%, rgba(100, 117, 110, 0) 100%),
    linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44));
  background-blend-mode: normal, normal, normal, multiply;
  box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1), inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  backdrop-filter: blur(30px);
  z-index: 2;
}

.bubble-1__img {
  width: 100%;
  height: 100%;
  @extend %bgImg;
  border-radius: 100%;
}


@keyframes bubbleUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0px);
  }
}

.visible {
  animation-name: bubbleUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.hidden {
  transition: opacity .3s;
  opacity: 0;
}